src/onelogin/saml2/schemas/saml-schema-protocol-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
    targetNamespace="urn:oasis:names:tc:SAML:2.0:protocol"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:saml2p="urn:oasis:names:tc:SAML:2.0:protocol"
    xmlns:saml2="urn:oasis:names:tc:SAML:2.0:assertion"
    xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified"
    blockDefault="substitution"
    version="2.0">
    <import namespace="urn:oasis:names:tc:SAML:2.0:assertion"
        schemaLocation="saml-schema-assertion-2.0.xsd"/>
    <import namespace="http://www.w3.org/2000/09/xmldsig#"
        schemaLocation="xmldsig-core-schema.xsd"/>
    <annotation>
        <documentation>
            Document identifier: saml-schema-protocol-2.0
            Location: http://docs.oasis-open.org/security/saml/v2.0/
            Revision history:
            V1.0 (November, 2002):
              Initial Standard Schema.
            V1.1 (September, 2003):
              Updates within the same V1.0 namespace.
            V2.0 (March, 2005):
              New protocol schema based in a SAML V2.0 namespace.
     </documentation>
    </annotation>
    <complexType name="RequestAbstractType" abstract="true">
        <sequence>
            <element ref="saml2:Issuer" minOccurs="0"/>
            <element ref="ds:Signature" minOccurs="0"/>
            <element ref="saml2p:Extensions" minOccurs="0"/>
        </sequence>
        <attribute name="ID" type="ID" use="required"/>
        <attribute name="Version" type="string" use="required"/>
        <attribute name="IssueInstant" type="dateTime" use="required"/>
        <attribute name="Destination" type="anyURI" use="optional"/>
    	<attribute name="Consent" type="anyURI" use="optional"/>
    </complexType>
    <element name="Extensions" type="saml2p:ExtensionsType"/>
    <complexType name="ExtensionsType">
        <sequence>
            <any namespace="##other" processContents="lax" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="StatusResponseType">
    	<sequence>
            <element ref="saml2:Issuer" minOccurs="0"/>
            <element ref="ds:Signature" minOccurs="0"/>
            <element ref="saml2p:Extensions" minOccurs="0"/>
            <element ref="saml2p:Status"/>
    	</sequence>
    	<attribute name="ID" type="ID" use="required"/>
    	<attribute name="InResponseTo" type="NCName" use="optional"/>
    	<attribute name="Version" type="string" use="required"/>
    	<attribute name="IssueInstant" type="dateTime" use="required"/>
    	<attribute name="Destination" type="anyURI" use="optional"/>
    	<attribute name="Consent" type="anyURI" use="optional"/>
    </complexType>
    <element name="Status" type="saml2p:StatusType"/>
    <complexType name="StatusType">
        <sequence>
            <element ref="saml2p:StatusCode"/>
            <element ref="saml2p:StatusMessage" minOccurs="0"/>
            <element ref="saml2p:StatusDetail" minOccurs="0"/>
        </sequence>
    </complexType>
    <element name="StatusCode" type="saml2p:StatusCodeType"/>
    <complexType name="StatusCodeType">
        <sequence>
            <element ref="saml2p:StatusCode" minOccurs="0"/>
        </sequence>
        <attribute name="Value" type="anyURI" use="required"/>
    </complexType>
    <element name="StatusMessage" type="string"/>
    <element name="StatusDetail" type="saml2p:StatusDetailType"/>
    <complexType name="StatusDetailType">
        <sequence>
            <any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <element name="AssertionIDRequest" type="saml2p:AssertionIDRequestType"/>
    <complexType name="AssertionIDRequestType">
    	<complexContent>
            <extension base="saml2p:RequestAbstractType">
                <sequence>
                    <element ref="saml2:AssertionIDRef" maxOccurs="unbounded"/>
                </sequence>
            </extension>
    	</complexContent>
    </complexType>
    <element name="SubjectQuery" type="saml2p:SubjectQueryAbstractType"/>
    <complexType name="SubjectQueryAbstractType" abstract="true">
    	<complexContent>
            <extension base="saml2p:RequestAbstractType">
                <sequence>
                    <element ref="saml2:Subject"/>
                </sequence>
            </extension>
    	</complexContent>
    </complexType>
    <element name="AuthnQuery" type="saml2p:AuthnQueryType"/>
    <complexType name="AuthnQueryType">
        <complexContent>
            <extension base="saml2p:SubjectQueryAbstractType">
                <sequence>
                    <element ref="saml2p:RequestedAuthnContext" minOccurs="0"/>
                </sequence>
                <attribute name="SessionIndex" type="string" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="RequestedAuthnContext" type="saml2p:RequestedAuthnContextType"/>
    <complexType name="RequestedAuthnContextType">
        <choice>
            <element ref="saml2:AuthnContextClassRef" maxOccurs="unbounded"/>
            <element ref="saml2:AuthnContextDeclRef" maxOccurs="unbounded"/>
        </choice>
        <attribute name="Comparison" type="saml2p:AuthnContextComparisonType" use="optional"/>
    </complexType>
    <simpleType name="AuthnContextComparisonType">
        <restriction base="string">
            <enumeration value="exact"/>
            <enumeration value="minimum"/>
            <enumeration value="maximum"/>
            <enumeration value="better"/>
        </restriction>
    </simpleType>
    <element name="AttributeQuery" type="saml2p:AttributeQueryType"/>
    <complexType name="AttributeQueryType">
        <complexContent>
            <extension base="saml2p:SubjectQueryAbstractType">
                <sequence>
                    <element ref="saml2:Attribute" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AuthzDecisionQuery" type="saml2p:AuthzDecisionQueryType"/>
    <complexType name="AuthzDecisionQueryType">
        <complexContent>
            <extension base="saml2p:SubjectQueryAbstractType">
                <sequence>
                    <element ref="saml2:Action" maxOccurs="unbounded"/>
                    <element ref="saml2:Evidence" minOccurs="0"/>
                </sequence>
                <attribute name="Resource" type="anyURI" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="AuthnRequest" type="saml2p:AuthnRequestType"/>
    <complexType name="AuthnRequestType">
        <complexContent>
            <extension base="saml2p:RequestAbstractType">
                <sequence>
                    <element ref="saml2:Subject" minOccurs="0"/>
                    <element ref="saml2p:NameIDPolicy" minOccurs="0"/>
                    <element ref="saml2:Conditions" minOccurs="0"/>
                    <element ref="saml2p:RequestedAuthnContext" minOccurs="0"/>
                    <element ref="saml2p:Scoping" minOccurs="0"/>
                </sequence>
                <attribute name="ForceAuthn" type="boolean" use="optional"/>
                <attribute name="IsPassive" type="boolean" use="optional"/>
                <attribute name="ProtocolBinding" type="anyURI" use="optional"/>
                <attribute name="AssertionConsumerServiceIndex" type="unsignedShort" use="optional"/>
                <attribute name="AssertionConsumerServiceURL" type="anyURI" use="optional"/>
                <attribute name="AttributeConsumingServiceIndex" type="unsignedShort" use="optional"/>
                <attribute name="ProviderName" type="string" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="NameIDPolicy" type="saml2p:NameIDPolicyType"/>
    <complexType name="NameIDPolicyType">
        <attribute name="Format" type="anyURI" use="optional"/>
        <attribute name="SPNameQualifier" type="string" use="optional"/>
        <attribute name="AllowCreate" type="boolean" use="optional"/>
    </complexType>
    <element name="Scoping" type="saml2p:ScopingType"/>
    <complexType name="ScopingType">
        <sequence>
            <element ref="saml2p:IDPList" minOccurs="0"/>
            <element ref="saml2p:RequesterID" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="ProxyCount" type="nonNegativeInteger" use="optional"/>
    </complexType>
    <element name="RequesterID" type="anyURI"/>
    <element name="IDPList" type="saml2p:IDPListType"/>
    <complexType name="IDPListType">
        <sequence>
            <element ref="saml2p:IDPEntry" maxOccurs="unbounded"/>
            <element ref="saml2p:GetComplete" minOccurs="0"/>
        </sequence>
    </complexType>
    <element name="IDPEntry" type="saml2p:IDPEntryType"/>
    <complexType name="IDPEntryType">
        <attribute name="ProviderID" type="anyURI" use="required"/>
        <attribute name="Name" type="string" use="optional"/>
        <attribute name="Loc" type="anyURI" use="optional"/>
    </complexType>
    <element name="GetComplete" type="anyURI"/>
    <element name="Response" type="saml2p:ResponseType"/>
    <complexType name="ResponseType">
    	<complexContent>
            <extension base="saml2p:StatusResponseType">
                <choice minOccurs="0" maxOccurs="unbounded">
                    <element ref="saml2:Assertion"/>
                    <element ref="saml2:EncryptedAssertion"/>
                </choice>
            </extension>
    	</complexContent>
    </complexType>
    <element name="ArtifactResolve" type="saml2p:ArtifactResolveType"/>
    <complexType name="ArtifactResolveType">
    	<complexContent>
            <extension base="saml2p:RequestAbstractType">
                <sequence>
                    <element ref="saml2p:Artifact"/>
                </sequence>
            </extension>
    	</complexContent>
    </complexType>
    <element name="Artifact" type="string"/>
    <element name="ArtifactResponse" type="saml2p:ArtifactResponseType"/>
    <complexType name="ArtifactResponseType">
    	<complexContent>
            <extension base="saml2p:StatusResponseType">
                <sequence>
                    <any namespace="##any" processContents="lax" minOccurs="0"/>
                </sequence>
            </extension>
    	</complexContent>
    </complexType>
    <element name="ManageNameIDRequest" type="saml2p:ManageNameIDRequestType"/>
    <complexType name="ManageNameIDRequestType">
    	<complexContent>
            <extension base="saml2p:RequestAbstractType">
                <sequence>
                    <choice>
                        <element ref="saml2:NameID"/>
                        <element ref="saml2:EncryptedID"/>
                    </choice>
                    <choice>
                        <element ref="saml2p:NewID"/>
                        <element ref="saml2p:NewEncryptedID"/>
                        <element ref="saml2p:Terminate"/>
                    </choice>
                </sequence>
            </extension>
    	</complexContent>
    </complexType>
    <element name="NewID" type="string"/>
    <element name="NewEncryptedID" type="saml2:EncryptedElementType"/>
    <element name="Terminate" type="saml2p:TerminateType"/>
    <complexType name="TerminateType"/>
    <element name="ManageNameIDResponse" type="saml2p:StatusResponseType"/>
    <element name="LogoutRequest" type="saml2p:LogoutRequestType"/>
    <complexType name="LogoutRequestType">
        <complexContent>
            <extension base="saml2p:RequestAbstractType">
                <sequence>
                    <choice>
                        <element ref="saml2:BaseID"/>
                        <element ref="saml2:NameID"/>
                        <element ref="saml2:EncryptedID"/>
                    </choice>
                    <element ref="saml2p:SessionIndex" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="Reason" type="string" use="optional"/>
                <attribute name="NotOnOrAfter" type="dateTime" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="SessionIndex" type="string"/>
    <element name="LogoutResponse" type="saml2p:StatusResponseType"/>
    <element name="NameIDMappingRequest" type="saml2p:NameIDMappingRequestType"/>
    <complexType name="NameIDMappingRequestType">
        <complexContent>
            <extension base="saml2p:RequestAbstractType">
                <sequence>
                    <choice>
                        <element ref="saml2:BaseID"/>
                        <element ref="saml2:NameID"/>
                        <element ref="saml2:EncryptedID"/>
                    </choice>
                    <element ref="saml2p:NameIDPolicy"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="NameIDMappingResponse" type="saml2p:NameIDMappingResponseType"/>
    <complexType name="NameIDMappingResponseType">
        <complexContent>
            <extension base="saml2p:StatusResponseType">
                <choice>
                    <element ref="saml2:NameID"/>
                    <element ref="saml2:EncryptedID"/>
                </choice>
            </extension>
        </complexContent>
    </complexType>
</schema>
